@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);.alert.flash-message {
  position: fixed;
  bottom: 0rem;
  right: 2rem;
  z-index: 9999;
  -webkit-animation: autoHide 0s ease-in 5s forwards;
  animation: autoHide 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.alert.flash-message ul {
  padding-left: 0;
  list-style-type: none;
}

@-webkit-keyframes autoHide {
  to {
    visibility: 0;
    z-index: -9999;
  }
}

@keyframes autoHide {
  to {
    visibility: 0;
    z-index: -9999;
  }
}

/*Google web Fonts*/

html {
  background-color: #292c2f;
}

body {
  background-color: #eee;
}

section {
  padding-bottom: 3rem;
}

section:nth-child(even) {
  background-color: #fff;
}

section:nth-child(even) .page-header {
  border-bottom: 1px solid #f2f2f2;
}

section:nth-child(odd) .page-header {
  border-bottom: 1px solid #fff;
}

section:nth-child(odd) .well {
  background-color: #f2f2f2;
  background-image: none;
}

section#legal,
section section#contact {
  height: auto;
}

section p {
  font-size: 2rem;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 3rem;
  color: #92999f;
  font-size: 6rem;
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
}

.handwrite {
  font-family: 'Indie Flower', cursive !important;
}

ul.nav li:hover a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #dbdbdb), to(#e2e2e2));
  background-image: linear-gradient(to bottom, #dbdbdb 0, #e2e2e2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}

#legal p {
  font-size: 1.5rem;
}

/* Footer */

footer ol.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

footer ol.breadcrumb a,
footer ol.breadcrumb a:visited {
  color: #5383d3;
}

footer ol.breadcrumb li.active {
  color: #92999f;
}

footer .footer-icons a,
footer .footer-icons a i {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #92999f;
  -webkit-font-smoothing: antialiased;
}

footer .footer-icons a:hover,
footer .footer-icons a:hover i {
  background-color: #777;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

footer.footer-distributed {
  margin-top: 0;
  position: relative;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer.footer-distributed::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 0;
  /*box-shadow: 0 0 5px 4px rgba(41, 44, 47, 0.95);*/
}

.table-container {
  display: table;
  background-size: cover;
}

.table-container .table-cell {
  display: table-cell;
}

/* Skilllist */

.skills-list {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  list-style: none;
  height: 17.5rem;
  font-size: 2rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.skills-list i {
  color: #5383d3;
}

.skills-list .sub {
  font-size: 1.5rem;
  vertical-align: baseline;
}

.skills-list:hover,
.well.me_image:hover,
.skills-list:hover .sub {
  color: #000;
}

/*
.skills-list li::before {
    font-family: 'FontAwesome';
    font-weight: bold;
    font-style: normal;
    text-decoration: inherit;
    padding-right: 0.5rem;
    content: "\f00c"
}
*/

/* misc */

.section-link-icon,
.section-link-icon:focus {
  position: relative;
  color: #bebebe;
  font-size: 2rem;
  vertical-align: middle;
  text-decoration: none;
  top: -0.1rem;
}

.section-link-icon:hover {
  color: #000;
}

.social-inactive {
  cursor: unset;
}

.about-image {
  border: 1px solid #000000;
  height: 225px;
  width: 150px;
  margin: 0 auto;
  background: url("/img/portrait_small.jpg");
}

.about-info-text {
  display: inline-block;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .about-info-text {
    text-align: justify;
  }

  .about-image-frame {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(/fonts/RobotoCondensed-Light.woff2?5c8ddf98f53f16ec4320b3f420313376) format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(/fonts/RobotoCondensed-Regular.woff2?a9eea697c9204640e3b524ce4fd76919) format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(/fonts/RobotoCondensed-Bold.woff2?9ff80602f107fd6c792d871d5cfc00de) format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url(/fonts/RobotoCondensed-LightItalic.woff2?0d388da5cac5cf60a21557fa8fd65cda) format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url(/fonts/RobotoCondensed-Italic.woff2?232a2791c5d18aa4fa17e597e252856d) format("woff2");
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url(/fonts/RobotoCondensed-BoldItalic.woff2?2100c5e883b8b8c3d2f03c3158c72885) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(/fonts/Montserrat-Regular.woff2?10e5d9fb9daa889984a89c6f04303d87) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url(/fonts/Montserrat-Bold.woff2?64b9c150ed51d202fe159c07d916966c) format("woff2");
}

/*Generel*/

body {
  color: #7f8ea8;
  font: 300 16px/20px 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #637491;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: 24px;
}

section {
  padding: 70px 0;
}

/*Navigation*/

nav .navbar-brand {
  height: 70px;
  line-height: 40px;
}

nav .navbar-toggle {
  margin: 18px 15px 18px 0;
}

nav .navbar-nav > li:not(:first-child) {
  margin-left: 30px;
}

nav .navbar-nav > li:hover > a::after {
  width: 100%;
}

nav .navbar-nav > li > a::after {
  content: "";
  position: absolute;
  border-top: 3px solid #5383d3;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav .navbar-nav > li:hover > a {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .navbar-nav > li > a {
  height: 70px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 70px;
  font-weight: 400;
  padding: 0;
  position: relative;
}

.navbar-default .navbar-nav > li > a > i {
  color: #5383d3;
}

/*Skills*/

#skills {
  background-color: #f7f7f7;
}

.skills-icon:hover::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.skills-icon::after {
  border: 3px solid #5383d3;
  border-radius: 50%;
  content: "";
  height: 100px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100px;
}

.skills-icon {
  position: relative;
  margin: 20px 0;
}

.skills-icon:hover > i {
  background-color: #f7f7f7;
  color: #5383d3;
}

.skills-icon > i {
  background-color: #5383d3;
  border-radius: 50%;
  color: #f7f7f7;
  font-size: 40px;
  height: 100px;
  line-height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100px;
}

.skills-header {
  color: #637491;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.skills-list:hover {
  color: #5383d3;
}

.skills-list {
  background-color: #f7f7f7 !important;
  background-image: none;
  border: 1px solid #5383d3;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  margin: 0;
  padding: 0;
}

.skills-list > li:not(:first-child) {
  border-top: 1px solid #5383d3;
}

.skills-list > li {
  font-size: 1.75rem;
  padding: 0.75rem;
  text-align: center;
}

/*Contact*/

#contact ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

#contact :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}

#contact ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

#contact :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

#contact {
  background-color: #5383d3;
  color: #ffffff;
}

#contact h2,
#contact .h2 {
  color: #fff;
}

#contact form {
  padding-top: 10px;
  text-align: center;
}

#contact form *::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
}

#contact form input[type="text"],
#contact form textarea {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  height: 50px;
  line-height: 20px;
  padding: 10px 15px;
}

#contact form textarea {
  height: auto;
  resize: vertical;
}

#contact button {
  background-color: #292c2f;
  background-image: none;
  border: medium none;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 50px;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  width: auto;
}

#contact .contact_success_headline {
  font-weight: bold;
  font-size: 2rem;
  color: #0dca15;
}

#contact .contactBoxSuccess {
  display: none;
}

/*Footer*/

.footer-distributed {
  background-color: #292c2f;
  font: 300 16px/20px "Roboto Condensed";
  padding: 70px 0;
}

.well {
  background: none;
}

.center-middle {
  text-align: center;
  vertical-align: middle;
}

/*Responsive*/

@media (max-width: 768px) {
  nav .navbar-nav {
    margin: 0 -15px;
  }

  nav .navbar-nav > li:not(:first-child) {
    border-top: 1px solid #eee;
    margin: 0;
  }

  nav .navbar-nav > li > a::after {
    content: none;
  }

  nav .navbar-nav > li > a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }
}

